body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.col-md-7{
    margin-top: 150px !important;
    background-color: white;
    padding: 20px;
}

h1{
    background-color: blue;
    color: azure !important;
}

input, label{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}